<div class="summary">
  <div>
    <h1>Subject List</h1>
  </div>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Subject ID</th>
      <th>Subject Name</th>
      <th>Subject Description</th>
      <th>Classroom ID</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.subjectId }}</td>
      <td>{{ item.subjectName }}</td>
      <td>{{ item.subjectDescription }}</td>
      <td>{{ item.classroomClassId }}</td>
      <td class="action-buttons">
        <button class="btn btn-success" (click)="editItem(item)">Edit</button>
        <button class="btn btn-danger" (click)="deleteItem(item)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
